{% extends 'base.html.twig' %}

{% block title %}Добавить подписку{% endblock %}

{% block body %}
    <h2 style="margin: 40px 0 60px 0; text-align: center;">Добавить подписку</h2>

    <div class="col-md-6 offset-md-3">
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}


